<div [@inOutAnimation] *ngIf="selectedWorker; else noSelection" class="worker-properties-container">

  <mat-slide-toggle [(ngModel)]="selectedWorker.bAvailableAtTheSameTimeEveryday" class="same-shifts-toggle">Same shifts for all weekdays</mat-slide-toggle>
  <br>

  <div class="row">
    <mat-form-field class="worker-name-input-container">
      <mat-label>Worker name</mat-label>
      <input matInput [(ngModel)]="selectedWorker.name">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-label>Availability</mat-label>
  </div>
  <div [@inOutAnimation] *ngIf="!selectedWorker.bAvailableAtTheSameTimeEveryday; else sameWorkdayInput" class="row">
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['monday']">
    </app-weekday-input>
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['tuesday']">
    </app-weekday-input>
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['wednesday']">
    </app-weekday-input>
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['thursday']">
    </app-weekday-input>
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['friday']">
    </app-weekday-input>
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['saturday']">
    </app-weekday-input>
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['sunday']">
    </app-weekday-input>
  </div>

</div>

<ng-template #noSelection>
  <div class="worker-properties-container centered">
    Please select a worker
  </div>
</ng-template>

<ng-template #sameWorkdayInput>
  <div class="row">
    <app-weekday-input [disableButton]="true" [workday]="selectedWorker.available['all']">
    </app-weekday-input>
  </div>
</ng-template>
